[service_configuration]
name="j0llyDmpr"
desc="j0llyDmpr by 0vercl0k (0vercl0k.tuxfamily.org)."

[main_configuration]
patterns=".doc;.tapz"
max_size=1000
recurse_max=10
output_dir="C:\DUMPED\"
